<p id="notice"><%= notice %></p>

<p>
  <strong>Survey:</strong>
  <%= @question.title %>
</p>

<div class="container">
  <table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
      <% list_all_options(@question.id).each do |question| %>
        <td><%= question.content %></td>
      <% end %>
      </tr>
  </tbody>
</table>



<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
