<%= simple_form_for(@answer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%# f.select :question_id,  %>
    <%= f.select(:question_id, select_question_id, :prompt => 'Select Question') %><br><br>
    <%= f.input :content %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
