<p id="notice"><%= notice %></p>

<p>
  <strong>Survery Name:</strong>
  <%= @survey.name %>
</p>

<h2>Questions</h2>
<% @survey.questions.each do |question| %>
<p>
  <strong>title:</strong>
  <%= question.title %>
</p>

<p>
  <strong>survey_id:</strong>
  <%= question.survey_id %>
</p>
<% end %>

<h2> options: </h2>
<% list_all_options.each do |option| %>
<p>
	<strong>Options:</strong>
	<%= option.name %>
</p>
<% end %>

<h2>Add Questions:</h2>
<%= nested_form_for([@survey, @survey.questions.build]) do |f| %>
	<p>
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :survey_id %><br>
		<%= f.text_field :survey_id %>
	</p>
	<p>
		<%= f.fields_for :options do |option_form| %>
			<%= option_form.text_field :name %>
			<%= option_form.link_to_remove "Remove this option" %>
		<% end %>
		<p><%= f.link_to_add "Add a Option", :options %></p>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>




<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>

<br>


