
<p>
  <strong><h4>Survery Name:</strong>
  <%= @survey.name %></h4>
</p><br>


<h4>Add Questions:</h4>
<%= simple_nested_form_for([@survey, @survey.questions.build]) do |f| %>
	<p>
		<%= f.label 'Question title' %><br>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :survey_id %><br>
		<%= f.text_field :survey_id %>
	</p>
	<p>
		<%= f.simple_fields_for :options do |option_form| %>
			<%= option_form.text_field :name %>
			<%= option_form.link_to_remove "Remove this option" %>
		<% end %>
		<p><%= f.link_to_add "Add a Option", :options %></p>
	</p>
	<p>
		<%= f.button :submit, class: "btn btn-success" %>
	</p>
<% end %>

<h2>Questions</h2>
<% sorting_question(@survey.id).each do |question| %>
<p>
  <strong>Question ID</strong>
  <%= question.id %>
</p>
<p>
  <strong>survey_id:</strong>
  <%= question.survey_id %>
</p>
<p>
  <strong>title:</strong>
  <%= question.title %>
</p>
<p>
	<%= button_to 'Delete', [question.survey, question],
				method: :delete, data: { confirm: 'are you sure ?' },
				:remote => true, :class => 'delete_question', class: "btn btn-danger" %>
</p>

<h2> options: </h2>
	<% sort_options(question.id).each do |option| %>
		<p>
		<%= option.name %>
		</p>
	<% end %>
	<hr>
<% end %>

<h3><%= link_to 'Preview', preview_survey_path %> |
<%= link_to 'Results', result_survey_path %> |
<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %></h3>

<br>
